*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    --img-width: 20%;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 40vh;
    background: url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    transform: translateX(0);
}
header h1{
    font-size: 3em;
}
.contentContainer{
    display: flex;
    width: 100%;
}
.sortbox{
    width: 100%;
    height: fit-content;
    padding: 2em;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.productlist{
    width: 90%;
    margin: 0 auto;
    padding: 2em;
}
.product{
    display: flex;
    flex-direction: row;
    margin: 2em;
    background-color: #f2f2f2;
    padding: 1em;
}
.product:hover{
    background-color: #e6e3e3;

}
.product img{
    justify-self: center;
    align-self: center;
    width: var(--img-width);
    height: var(--img-width);
    aspect-ratio: 1/1;
    object-fit: cover;

}
.flex-vertical{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.flex-horizontal{
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.description{
    width: 50%;
}
.item{
    display: grid;
    grid-template-columns: .5fr 6fr 1fr;
    border-bottom: 1px solid #3c3c3c98;
    gap: 5px;
}
.price{
    float:right;
}
.sidebar{
    position: fixed;
    bottom: 0;
    background-color: rgba(83, 94, 109, 0.8);
    width: 40%;
    transform: translateX(-100%);
    transition: transform .4s ease-in-out;
    height: 100vh;
    overflow-y: scroll;

}
.show img{
    position: relative;
    width: 100%;
    height: 100%;
}
.sidebarhidden{
    transform: translateX(0%);
}
.show{
    z-index: 1;
    width: 45px;
    height: 45px;
    padding: 5px;
    position: fixed;
    bottom: 0;
    transition: all .2s ease-in-out;
    /* transition: width .4s ease-in-out; */
}
.effect{
    padding: 0;
}
.right{
    /* position: relative; */
    transition: all .5s ease-in-out;
    width: 60%;
    transform: translateX(67%);
}